main {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#player1, #player2 {
    display: grid;
    gap: 4px;    
    grid-template-columns: repeat(var(--n), 1fr);
    grid-template-rows: repeat(var(--n), 1fr);
    width: 400px;
    height: 400px;
}

.player-turn-header {
    display: none;
}

.board-cell {
    aspect-ratio: 1 / 1;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
    content-visibility: hidden;
}

/* .board-cell:hover {
    background: #757575;
} */

#ships {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 100px;
    gap: 4px;
}
.ship>div {
    background-color: black;
    height: 50px;
    width: 50px;

}

.inactive {
    pointer-events: none; 
}

.modal-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    background: rgba(122, 121, 121, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(122, 121, 121, 0.3);
    font-size: 2em;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    visibility: hidden;
}

.boats {
  display: none;
  gap: 20px;
  align-content: start;
}

.boats:hover {
    cursor: pointer;
}

.boat {
  display: grid;
  gap: 4px;
  justify-content: start;
  grid-template-columns: repeat(5, 1fr);
}

.boat div {
  width: 30px;
  aspect-ratio: 1 / 1;
  background-color: grey;
  border: 1px solid #999;
}

.selected {
    background-color: blue;
}

.game-start {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.direction-selector {
    display: none;
    align-items: center;
}

.selected-boat > div {
  background-color: lightblue;
}
